<!-- a minimalist response. 
     Improvements would include
     * adding css to mimic the homepage styling
     * showing the answers to the questions
-->
<html>
  <head>
  </head>
  <body>
    <h1>And your results</h1>
    <p>You earned $<%= @score %></p>
    <p><a href="/">Try again?</a></p>
  </body>
</html>